"AutoMeets - Python/__pycache__/"
"AutoMeets - Python/dist/"
"AutoMeets - Python/build/"
"AutoMeets - Python/.vscode/"
"AutoMeets - Python/*.spec"
".vs/"
"*.sln"
"Page/"
"UI Ideas/"
"*iss"
"AutoMeets UI Trailer/"
